@import "./reset.scss";
@import "./variable.scss";
@import "./element/index.scss";

/* 隐藏垂直滚动条 */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* 隐藏水平滚动条 */
body::-webkit-scrollbar-horizontal {
  height: 0.5em;
}

body::-webkit-scrollbar-thumb:horizontal {
  background-color: #888;
}

/* 隐藏垂直滚动条 */
body {
  scrollbar-width: none;
}

/* 隐藏水平滚动条 */
body::-webkit-scrollbar {
  display: none;
}
